@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@500&display=swap');
/* Base HTML */

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.bborder{
    width: 100%;
    border-bottom: 2px dashed grey;
}

.stop-scrolling {
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'Heebo', sans-serif;
    font-size: calc(.24vw + 1rem);
    font-weight: 500;
    color: black;
}

::-webkit-scrollbar {
  display: none;
}

/* Header */

#header{
    -webkit-user-select: none; /* Safari */ !important;
    -moz-user-select: none; /* Firefox */   !important;
    -ms-user-select: none; /* IE10+/Edge */ !important;
    user-select: none; /* Standard */ !important;
    padding: 1rem 4rem 5rem 4rem;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: none;
    color: black;
}

header a:hover{
    color: black;
}

#logo{
    font-family: 'Archivo Black', sans-serif;
    font-size: calc(1.2vw + 1rem);
    letter-spacing: 0.01rem;
    cursor: pointer;
}

#icon{
    cursor: pointer;
    margin-top: 2px;
    font-size: 20px;
}

#card{
    font-size: 18px;
}

#menuButton{
    border: none;
    background: none;
    padding: 0 !important;
    z-index: 9999;
}

#menuButton:focus{
    outline: none;
}

#menuButton input[type=checkbox]{
    display: none;
}
#overlay{
    z-index: 0;
    position:absolute;
    height: auto;
    width: 100vw;
    background-color: white;
    display:none;
    animation-name: none;
    animation-play-state: paused;
    animation-fill-mode: forwards;
    animation-duration: 0.4s;
    pointer-events: none;
    opacity: 0;
}

@keyframes appear {
    0%{opacity: 0}
    100%{opacity: 1}
}

@keyframes disappear {
    0%{opacity: 1}
    100%{opacity: 0}
}

#collapsedNavItems{
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: unset;
    animation-name: "";
    animation-duration: 0.3s;
}

@keyframes itemsTranslateUp{
    0%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(-80px);
    }
}

@keyframes itemsTranslateDown{
    0%{
        transform: translateY(-80px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(-50px);
    }
}

#menuItem{
    height: fit-content;
    font-size: 8.5vmin;
    text-align: center;
    line-height: 1.8em;
    text-decoration: none;
}

#menuItem:hover{
    color: black;
}

#icon2{
    cursor: pointer;
    margin-top: 2px;
    font-size: 26px;
    animation-name: "";
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-play-state: paused;
    animation-timing-function: unset;
}

@keyframes iconTranslateUp{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(-40px);
    }
}

@keyframes iconTranslateDown{
    0%{
        transform: translateY(-40px);
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: translateY(+40px);
    }
}

@media screen and (min-width: 768px){
    #menuItem {
        font-size: 6vmin;
    }
}

@media screen and (min-width: 576px){
    #menuItem {
        font-size: 6.6vmin;
    }
}

/*#people{
    background-image: url('../img/PeopleMain.jpg');
    background-repeat: no-repeat;
    background-size: cover;


}

#places{
    background-image: url("../img/PlacesMain.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

#blackandwhite{
    background-image: url("../img/B&WMain.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

#simplicity{
    background-image: url("../img/SimplicityMain.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}*/

/* Footer */

#contact{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: calc(.24vw + 1rem) !important;
    padding-top: 5vh;
}

#contact h1{
    font-family: 'Archivo Black', sans-serif;
    font-size: 45px;
    letter-spacing: 0.11rem;
}

#contact p {
    line-height: 30px;
}


#contact a{
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

#contact a:hover{
    color: rgba(0, 0, 0, 0.8);
}

#bicon{
    padding-top: 20px;
    font-size: 25px;
    text-decoration: none;
    border: none !important;
}

#subscribe{
    height: auto;
    margin: auto;
    padding: 10px 10px 60px;
}

#emailHolder{
    display: inline-block;
    min-width: 18rem;
    border: 1px solid rgba(0,0,0,.12);
    border-radius: 0;
    padding: 1.2rem 2rem !important;
    line-height: 1.2rem !important;
    font-family: 'Heebo', sans-serif;
    font-size: calc(.24vw + 1rem) !important;
    letter-spacing: 0;
    color: black;
    text-transform: none;
}

@media screen and (max-width: 370px){
    #emailHolder {
        min-width: 70%;
    }
}

#emailHolder::placeholder{
    color: silver;
}

#emailHolder:focus{
    outline-offset: 4px;
    outline: black solid 2px;
}

#submitButton{
    margin: 4px;
    background-color: transparent;
    font-size: calc(.24vw + 1rem);
    font-family: 'Heebo', sans-serif;
    color: black;
    padding: 1.1rem 2.171rem;
    cursor: pointer;
    border: 2px solid black;
}

#submitButton:hover{
    background-color: black;
    color:white;
    transition: 0.2s;
}


/* Home Page */

#shopnow{
    width: fit-content;
    margin: 23px auto 0 auto;
    color: #e1ccbe;
    font-size: calc(.12vw + 1rem);
    border: 2px solid #e1ccbe;
    background: transparent;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 500;
    font-style: normal;
    text-transform: none;
    padding: 19.5px 32.56px;
    cursor: pointer;
}

#shopnow:hover{
    transition-duration: 0.2s;
    opacity: 1;
    color: black;
    text-decoration: none;
    text-transform: none;
    background-color: #e1ccbe;
}
#homepageContainer{
    position: relative;
    width: 88%;
    height: 80vh;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url("../img/GetStarted.jpg") center no-repeat;
    background-size: cover;
    margin: 0 6vw 5vw 6vw;
}

#homepageContainer div a{
    text-decoration: none;
}

#makeItYours{
    color: white;
    font-size: calc(3.6vw + 1rem);
    font-family: 'Archivo Black', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

 /* Gallery walls */

#wallsheader{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-size: calc(2.16vw + 1rem);
}

#DigitalP{
    text-align: center;
    padding-bottom: 40px;
    font-size: 18px;
    font-family: 'Heebo', sans-serif;

}

#line{
    width: 90%;
    color: black;
    opacity: 0.5;
    padding-bottom: 5vh;
}

#imageText{
    font-size: calc(.72vw + 1rem);
    font-family: 'Archivo Black', sans-serif;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0;
    text-transform: none;
    color: black;
}

#priceTag{
    font-family: 'Heebo', sans-serif;
    font-size: calc(0vw + 1rem);
}

#horizontalIMGs{
    max-width: 100%;
    max-height: 100%;
}

/* Contact */

#contactPage{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: calc(.24vw + 1rem) !important;

}

#contactPage h2{
    font-family: 'Archivo Black', sans-serif;
    font-size: calc(2.16vw + 1rem);
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
}

#contactPageText{
    width: 60%;
}

@media screen and (max-width: 992px){
    #contactPageText{
        width: 70%;
    }
}

@media screen and (max-width: 768px){
    #contactPageText{
        width: 90%;
    }
}

@media screen and (max-width: 600px){
    #contactPageText{
        width: auto;
    }
}

/* Error */

#error{
    text-align: center;
    font-family: 'Heebo', sans-serif;
    font-size: calc(.24vw + 1rem) !important;
    font-weight: 500;
}

/* Picture Page */

#picturePath{
    color: black;
    text-decoration: none;
    font-size: calc(.24vw + 1rem);
}

#pictureText{
    font-size: calc(2.16vw + 1rem);
    font-family: 'Archivo Black', sans-serif;
    color: black;
    font-weight: 500;
    font-style: normal;
    letter-spacing: 0em;
    text-transform: none;
    line-height: 1.4em;
}

#picturePriceTag{
    font-size: calc(.72vw + 1rem);
}

#addToCart{
    color:black;
    background-color: transparent;
    border: 2px solid black;
    width: 100%;
    height: auto;
    text-align: center;
    cursor: pointer;
    font-family: "Archivo Black", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    padding: 0;
    transition: 0.1s background-color linear, 0.1s color linear;
}

#addToCart:hover{
    transition: 0.1s background-color linear, 0.1s color linear;
    background-color: black;
    color: white;
}

#addedToCart{
    color:white;
    background-color: black;
    border: 2px solid black;
    width: 100%;
    height: auto;
    text-align: center;
    font-family: "Archivo Black", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    padding: 0;
    transition: 0.1s background-color linear, 0.1s color linear;
}

#addedToCart:hover{
    transition: 0.1s background-color linear, 0.1s color linear;
    background-color: white;
    color: black;
}

/* Cart */

#cartheader{
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
    font-size: calc(2.16vw + 1rem);
}

#cartItemBoxHeader{
    font-family: 'Heebo', sans-serif;
    font-size: calc(.12vw + 1rem) !important;
    font-weight: 500;
    color: black;
}

#cartImageHolderV{
    width: auto;
    height: 200px;
}

#cartImageV{
    height: 100%;
}

#cartImageHolderH{
    width: 133.33px;
    height: auto;
}

#cartImageH{
    width: 100%;
}

#cartItemText{
    width: 35%;
}

#cartPriceBox{
    width:100%;
    height:auto;
    background-color: #f2f2f2;
    border: 2px solid #ededed;
    line-height: 40px;
}



#cartItem{
    border-top: 1px solid black;
}

#closeButton{

}