{% extends 'kuzaneli/base.html' %}

{% block title %}Contact{% endblock %}
{% block body %}
    <div id = "contactPage" class="container px-auto pt-5">
            <h2>Contact</h2>
            <div id="contactPageText" class="mx-auto">
                <p>Raised in the Islands of Greece, Salomé Kuzaneli was drawn to spending
                     as much time as possible outdoors. Travelling and studying around the
                     Europe, currently is a freelancer and film photographer.</p>
                <a href = "mailto: studiokuzaneli@gmail.com">studiokuzaneli@gmail.com</a>
                <br>
                <a class="fab fa-instagram" id = "bicon" href = "https://www.instagram.com/studiokuzaneli/" target = "_blank"></a>
            </div>
    </div>
{% endblock %}